* {
    margin: 0px;
    padding: 0px;
}

/* main */


.title-conteiner {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.title-conteiner .title {
    margin: 20px auto;
    font-family: sans-serif;
    font-size: small;
    font-weight: 600;
}


/* commenti di riferimento gestione flex box */
.main-conteiner {
    text-align: justify;
    /* border: 1px solid black; */
    max-width: 1024px;
    margin: 0 auto;
    
}

.main-conteiner .row {
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: wrap;
    justify-content: center;
    width: 800px
    height: auto;
    
}

.main-conteiner .row .items {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(232, 232, 232);
    width: 300px;
    height: auto;
    margin: 10px 10px 30px 10px;
    
}

/* text-style-card */
.didascalia1 {
    padding: 5px 5px 0px 5px;
    font-family: sans-serif;
    font-size: small;
}

.didascalia2 {
    padding: 0px 5px;
    font-family: sans-serif;
    font-size: small;
    text-transform: uppercase;
    font-weight: 1000;
}

.didascalia3 {
    padding: 0px 5px 5px 5px;
    font-family: sans-serif;
    font-size: x-small;
}

/* Utility */
.did3-color {
    color: red;
}